<section class="border-t border-gray-200 py-10 bg-bg-1 flex justify-evenly">
  <ul
    class="mx-auto w-full max-w-350 grid grid-cols-1 gap-6 px-4 font-sans sm:grid-cols-2 lg:grid-cols-4 lg:px-8"
  >
    <li class="flex items-center gap-3">
      <ng-icon name="phosphorGlobeHemisphereWest" class="shrink-0 text-4xl text-blue-500"></ng-icon>
      <span class="text-sm text-gray-700">Free shipping and returns</span>
    </li>
    <li class="flex items-center gap-3">
      <ng-icon name="phosphorAirplane" class="shrink-0 text-4xl text-orange-500"></ng-icon>
      <span class="text-sm text-gray-700">Express delivery</span>
    </li>
    <li class="flex items-center gap-3">
      <ng-icon name="phosphorShieldCheck" class="shrink-0 text-4xl text-green-600"></ng-icon>
      <span class="text-sm text-gray-700">Secure payments</span>
    </li>
    <li class="flex items-center gap-3">
      <ng-icon name="phosphorSmiley" class="shrink-0 text-4xl text-yellow-400"></ng-icon>
      <span class="text-sm text-gray-700">New arrivals daily</span>
    </li>
  </ul>
</section>
