<article
  class="flex h-full flex-col border border-bg-2 font-sans hover:border-text hover:bg-bg-1 cursor-pointer select-none"
>
  <!-- Bild -->
  <div class="relative aspect-square overflow-hidden bg-bg-1">
    <img
      [src]="image()"
      [alt]="product().title"
      [attr.loading]="eager() ? 'eager' : 'lazy'"
      [attr.fetchpriority]="eager() ? 'high' : null"
      class="h-full w-full object-cover"
    />

    <!-- New-badge -->
    @if (isNew()) {
      <span
        class="absolute top-3 left-3 bg-gray-950 px-2 py-1 text-xs font-semibold tracking-wide text-white"
      >
        New
      </span>
    }

    <!-- <3 -->
    <button
      type="button"
      aria-label="Add to favorites"
      class="group absolute top-2 right-2 flex cursor-pointer items-center text-2xl text-gray-700 transition-colors hover:text-gray-950"
    >
      <ng-icon name="phosphorHeart" class="group-hover:hidden!"></ng-icon>
      <ng-icon name="phosphorHeartFill" class="hidden! group-hover:block!"></ng-icon>
    </button>
  </div>

  <!-- Pris -->
  <div class="mt-1.5 px-3 pb-5">
    @if (onSale()) {
      <p class="flex items-baseline gap-2">
        <span class="font-semibold text-red-700">
          {{ product().price | currency: 'USD' : 'symbol' : '1.0-2' }}
        </span>
        <span class="text-sm text-gray-500 line-through">
          {{ product().prevPrice | currency: 'USD' : 'symbol' : '1.0-2' }}
        </span>
        <span class="ml-auto text-sm text-red-700">Save {{ discount() }}%</span>
      </p>
    } @else {
      <p class="font-semibold text-gray-950">
        {{ product().price | currency: 'USD' : 'symbol' : '1.0-2' }}
      </p>
    }

    <!-- Produktnamn och märke -->
    <h3 class="mt-1 text-sm text-gray-950">{{ product().title }}</h3>
    <p class="text-sm capitalize text-gray-500">{{ brand() }}</p>
  </div>
</article>
